{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_horses') }}">Chevaux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_users') }}">Connexion</a>
        </li>
    </ul>
</nav>

{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
<div class="form-group">
    {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.firstname, 'Prénom', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.age, 'Âge', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_widget(form.save, {'attr': {'class': 'btn-primary'}}) }}
</div>
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
